<select
        class="form-control"
        name="{{ field_type.input_name }}"
        {{ field_type.disabled ? 'disabled' }}>

    {% for value, option in field_type.options %}
        <option value="{{ value }}" {{ value == field_type.value ? 'selected' }}>{{ trans(option) }}</option>
    {% endfor %}

</select>
